<!doctype html>
<html lang = "en">
<head>
    <title>Bruh</title>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="content/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="./mainpage.component.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body style="background-color: #FFF6F6; width:100%; border-radius: 30px; box-shadow: 1px 1px 6px; min-height: 740px; padding-top: 40px; overflow-wrap:break-word ">
<ng-container *ngIf="localtag()">
    <div class="footertext1" style="margin-bottom:40px; padding-left:5%; padding-right:5%">
       Показаны результаты по запросу: {{tag2}}
    </div>
</ng-container>
<div class="wrapper">   
<ng-container *ngFor="let article of articles">
<ng-container *ngIf="checktag(article.tags)">
<button type="button" routerLink="/article/{{article.id}}" class="btn nowrap article" style=" height:auto; background-color: #AEDEFC; margin-bottom:60px; border-radius: 20px !important; display:block; margin-left:auto; padding:30px !important; margin-right:auto; max-width:700px; box-shadow: 0px 1px 6px;">
    <img class="img-fluid" src="{{article.coverImage}}" style="width:100%; margin-bottom:20px;" >
    <div class="footerbigtext" style="width:100%; height:auto; margin-bottom: 20px; white-space: pre-line">
        {{article.title}}
    </div>
    <div class="footertext" style="width:100%; height:auto; margin-bottom: 10px; white-space: pre-line; text-align:left; text-indent:10%">
        {{article.description}}
    </div>
    <div class="row" style="padding:0px; margin:0px">
    <div *ngFor="let tag of article.tags" class="footertext" style="width:auto; height:auto; white-space: pre-line; text-align:left; margin-right:6px !important">
        #{{tag}}
    </div>
</div>
</button>
</ng-container>
</ng-container>
</div>
</body>
</html>